/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 0;
  }

  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.category-title a,
.section-title a {
  background-image: url($assets-watercolor-stroke-blue-png);
  background-size: 315px 20px;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 10px 0 15px 0;
  min-width: 315px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.section.intro {
  font-size: 1rem;
}

.section.search {
  background: $pale-blue;
}

.section.contact .block-paragraphs p {
  font-size: $font-size-bigger;
  background: #fff;
  display: inline-block;
  overflow-wrap: anywhere;
  @include tablet {
    padding: 0.5em 1.75em;
    border-radius: 30px;
  }
}

.button-big-friendly {
  font-size: $font-size-bigger;
}

.knowledge-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-section {
  margin: 0 1em 1em 0;
  flex: 0 1 18rem;
}


/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
