.sub-nav {
  background-color: $pale-blue;

  .container {
    @include tablet {
      align-items: baseline;
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  margin-bottom: 30px;
  min-height: 50px;
  padding: 15px 0;

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 300px;
    }

    &::after { font-size: $font-size-base; }
  }
}
